namespace: argocd

resources:
- https://raw.githubusercontent.com/argoproj/argo-cd/v3.2.5/manifests/install.yaml

generators:
- gcpServiceUser.yaml


apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
patches:
- patch: |-
    - op: replace
      path: /spec/ports/0/port
      value: 9080
    - op: replace
      path: /spec/ports/1/port
      value: 9443
  target:
    kind: Service
    name: argocd-server
    version: v1
- path: sopssecretsgenerator.yaml
- path: gcp.yaml
- patch: "apiVersion: v1\nkind: Service \nmetadata:\n  name: argocd-server\nspec:\n
    \ type: LoadBalancer"
- patch: |-
    apiVersion: v1
    kind: ConfigMap
    metadata:
      name: argocd-cm
    data:
      kustomize.buildOptions: --enable-alpha-plugins
