namespace: argocd

resources:
- https://raw.githubusercontent.com/argoproj/argo-cd/v1.8.1/manifests/install.yaml 

generators:
- gcpServiceUser.yaml

patchesStrategicMerge:
- sopssecretsgenerator.yaml
- gcp.yaml
- |-
  apiVersion: v1
  kind: Service 
  metadata:
    name: argocd-server
  spec:
    type: LoadBalancer
- |-
  apiVersion: v1
  kind: ConfigMap
  metadata:
    name: argocd-cm
  data:
    kustomize.buildOptions: --enable_alpha_plugins

patchesJSON6902:
- target:
    version: v1
    kind: Service
    name: argocd-server
  patch: |-
    - op: replace
      path: /spec/ports/0/port
      value: 9080
    - op: replace
      path: /spec/ports/1/port
      value: 9443
